:root {
    font-family: 'Rubik', sans-serif;
    --texto-menu: #4a4a4a;
    --color-fondo: #3CDBC0;
    --fondo-cabecera: #FFFFFF;
    --texto-principal: #FFFFFF;
}
.header {
    position: fixed;
    top: 0px;   
    width: 100vw;
    z-index: 1;    
    background-color: var(--fondo-cabecera)
}
.header__logo {
    margin: auto;
    text-align: center;
    width: 155px;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem; 
    padding: 5px;   
}
.nav__links {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    justify-content: center;
    margin-bottom: 0.813rem;
}
.nav__links a{
    text-decoration: none;
    color: var(--texto-menu);
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px;
}
.container {    
    background-color: var(--color-fondo);
    color: var(--texto-principal);   
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.title {
    font-size: 30px;
    text-align: center;
    max-width: 10ch;
    text-transform: capitalize;
}
@media all and (min-width: 768px) {
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .header__logo {
        margin-left: 1.875rem;
        text-align: left;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem; 
    }
    .nav__links {        
        justify-content: flex-end;
        margin-right: 1.875rem;
    }
    .title{
        font-size: 40px;
    }
}

